html,body{
    height: 100%;
    background-image: url("img/sky.jpg");
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul{
    list-style-type: none;
    border: 5px solid #0D9FB2;
    border-radius: 40px;
    overflow: hidden;
    background-color: #11444D;
}

li{
    float: left;
}

li.brand{
    display: block;
    color: #F68071;
    text-align: right;
    padding:15px 15px;
    font-size: larger;
}

li a{
    display: block;
    color: #F68071;
    text-align: right;
    padding: 21px 15px;
    text-decoration: none;
}

li a:hover{
    background-color: #22C1D3;
}

div.home{
    background-image: url("img/disk.jpg");
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: larger;

}

h1.home{
    padding: 100px;
}

h2.home{
    padding: 50px;
}

p.home{
    padding: 50px;
}

div.music{
    text-align: center;
    font-size: larger;
    color: #ACB8BF;
}

h1.music{
    padding: 50px;
}

input[type=submit].music{
    background:#AD8B73;
    color: #fff;
    width: 100px;
    margin: 1px solid #0E141D;
    border: #7A8D97;
    border-radius: 40px;
    padding: 10px;
    align-items: center;
}

div.video{
    background-color: #C0C5CA;
    text-align: center;
    padding: 10px;
}

img.video{
    width: 60%;
    height: auto;
    padding: 10px;
}

input[type=submit].video{
    background:#101C1F;
    color: #fff;
    width: 100px;
    margin: 1px solid #595352;
    border:#8E6E4F;
    border-radius: 40px;
    padding: 10px;
    align-items: center;
}

div.ent{
    background-color: transparent;
    box-sizing: border-box;
    padding: 20px;
    color: #F68071;
    text-align: center;
}

div.catalog{
    text-align: center;
    padding: 20px;
}

img.catalog{
    width: 50%;
    height: auto;
}

div.gift{
    background-color: #C0C5CA;
    font-size: large;
}

img.gift{
    width: 50%;
    height: auto;
    padding: 20px 100px;
}

.column {
    float:left;
    width: 50%;
    padding: 0;
    height: auto; 
}

.row:after {
    content: "";
    display: table;
    clear: both;
}



footer{
    background-color: #11444D;
    color: #F68071;
    text-align: center;
    font-size: larger;
    padding: 20px;
}


