.a{
    background-color: #4FD3C4;
    border: 10px solid black;
}

.b{
    background-color: #4FD3C4;
    border: 5px solid black;
}

.c{
    background-color: #4FD3C4;
    border: 1px solid black;
}

.d{
    background-color: #4FD3C4;
    border: 0px solid black;
}
